/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

[data-theme='dark'] {
  --background: 10 10 10;
  --foreground: 237 237 237;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
